.card-header{
  text-align: center;
}
.card-body {
  margin-right: 1rem;
  margin-left: 1rem;
}
td{
  background-color: #F8F8F8;
  vertical-align: baseline;
}
.container-filters{
  margin: 1rem 0;
}
.card{
  margin-top: 3rem;
}
