<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>FastAPI Pokemons</h1>
    </div>
    <div class="card-body">
      <div class="row container-pokemons">
        <div class="table-responsive">
          <table class="table" *ngIf="pokemons.length">
            <thead>
              <tr>
                <th>Pokedex ID</th>
                <th>Name</th>
                <th>Size (cm)</th>
                <th>Weight (kg)</th>
                <th>Basic stats</th>
                <th>Types</th>
                <th>Skills</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="pokemon-container" *ngFor="let pokemon of filteredPokemons">
                <td>{{pokemon.pokedex_id}}</td>
                <td>{{pokemon.name}}</td>
                <td>{{pokemon.size}}</td>
                <td>{{pokemon.weight}}</td>
                <td>{{pokemon.basic_stats}}</td>
                <td>
                  <span class="badge bg-success" *ngFor="let type of pokemon.types">
                    {{type.name}}
                  </span>
                </td>
                <td>
                  <span class="badge bg-primary" *ngFor="let skill of pokemon.skills">
                    {{skill.name}}
                  </span>
                </td>
                <td>
                  <button (click)="setPokemon(pokemon)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Show
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-pokemon [pokemon]="pokemon"></app-pokemon>
  </div>
</div>
